@media screen and (max-width: 1500px) {

    #register{
        background-position: center;}

    .register-page .register h1{
        font-size: 35px;}

    .register-page .register ul{
        width: 25%;}
}

@media screen and (max-width: 1200px){

    .register-page .register h1{
        font-size: 30px;}

    .register-page .register ul{
        width: 30%;}

    .register-page .register ul a svg{
        width: 45px;
        height: 45px;}
}

@media screen and (max-width: 928px){

    .register-page .register h1{
        font-size: 25px;}

    .register-page .register ul{
        width: 35%;}

    .register-page .register ul a svg{
        width: 40px;
        height: 40px;}

    .register-page .auth-login .login-content button{
        width: 115px;}

    .register-page .auth-login .login-content h1{
        font-size: 24px;}

    .register-page .auth-login .login-content p{
        font-size: 14px;}
}

@media screen and (max-width: 798px){

    #register{
        height: 109vh;}

    .register-page{
        flex-direction: column;}

    .register-page .register{
    width: 100%;
    height: 50%;
    padding: 40px 0;
    border-radius:25px 25px 0 0 ;
    -webkit-border-radius:25px 25px 0 0 ;
    -moz-border-radius:25px 25px 0 0 ;
    -ms-border-radius:25px 25px 0 0 ;
    -o-border-radius:25px 25px 0 0 ;}

    .register-page .auth-login{
    width: 100%;
    height: 45%;
    border-radius:0 0 25px 25px ;
    -webkit-border-radius:0 0 25px 25px ;
    -moz-border-radius:0 0 25px 25px ;
    -ms-border-radius:0 0 25px 25px ;
    -o-border-radius:0 0 25px 25px ;}

    .register-page .register ul{
        width: 25%;}

    .register-page .register form input[type="submit"]{
        width: 40%;}

    .register-page .auth-login img{
        left: 6%;
        top: 25%;
        width: 120px;}

    .register-page .auth-login .login-content h1{
        font-size: 20px;}

    .register-page .auth-login .login-content p{
        font-size: 12px;
        width: 250px;}

    .register-page .auth-login .login-content button{
        width: 100px;}
} 

@media screen and (max-width: 690px){

    .register-page .register h1{
        font-size: 20px;}

    .register-page .register ul{
        width: 30%;}

    .register-page .register ul a svg{
        width: 35px;
        height: 35px;}

    .register-page .register h5{
        font-size: 12px;}

    .register-page .register form input[type="submit"]{
        font-size: 12px;}

    .register-page .auth-login .login-content h1{
        font-size: 16px;}

    .register-page .auth-login img{
        top: 5%;}

    .register-page .auth-login .login-content button{
        font-size: 12px;}
}

@media screen and (max-width: 498px){

    .register-page .register ul{
        width: 35%;}
}